/*累计说明 --------------------------------------------------------*/
	.add_up_explain_box{
		padding: .2rem .3rem ;
	}
	.add_up_explain_box_inner{
		position: relative;
		height: 1.2rem;
		padding: .3rem .25rem .25rem .15rem;
		border-bottom: 1px solid #ccc;
		background: #fff;
	}
	.add_up_explain_main a:nth-last-child(1)>.add_up_explain_box_inner{
		border-bottom: none;
	}
	.add_up_explain_box_inner_title{
		font-size: .28rem;
		letter-spacing: 1px;
		margin-bottom: .1rem;
		color: #333;
	}
	.add_up_explain_box_inner_date{
		margin-bottom: 0;
		line-height: .24rem;
		font-size: .22rem;
		color: #a6a6a6;
	}
	.add_up_explain_box_inner_yongjin{
		position: absolute;
		top: .3rem;
		right: .25rem;
		margin: 0;
		line-height: .28rem;
		font-size: .26rem;
		color: #999;
	}