/**/
	.the_order_details_get_comfirm{
		padding: 0 .3rem;
	}
	.the_order_details_get_comfirm_bg{
		padding: 1.72rem 1.32rem 0 1.32rem;
		margin-bottom: .6rem;
	}
	.the_order_details_get_comfirm_bg img{
		width: 100%;
	}

	.the_order_details_get_comfirm_btn{
		height: .9rem;
		padding: 0 .48rem;
	}
	.the_order_details_get_comfirm_btn_left{
		padding-left: 0;
		padding-right: .18rem;
	}
	.the_order_details_get_comfirm_btn_right{
		padding-left: .18rem;
		padding-right: 0;
	}
	.the_order_details_get_comfirm_btn_pingjia{
		float: right;
		width: 2.8rem;
		height: 100%;
		line-height: .86rem;
		border: 2px solid #04a6e2;
		border-radius: .45rem;
		text-align: center;
		font-size: .3rem;
		color: #04a6e2;
	}
	.the_order_details_get_comfirm_btn_backindex{
		float: left;
		width: 2.8rem;
		height: 100%;
		line-height: .86rem;
		border: 2px solid #ff6699;
		border-radius: .45rem;
		text-align: center;
		font-size: .3rem;
		color: #ff6699;
	}