/*引入模块*/

	/*order_box --------------------------------------------------------------*/*
		.order_box{
			background: #fff;
			margin-bottom: .22rem;
		}
		/*订单细节*/
			.order_box_details{
				position: relative;
				height: 1.12rem;
				border-bottom: 1px solid #d9d9d9;
			}
			.order_box_details_box{
				padding: .24rem .3rem;
				height: 100%;
				font-size: .24rem;
			}
			.order_box_details_box p{
				margin-bottom: 0;
			}
			.order_box_condition{
				position: absolute;
				top: 50%;
				right: .3rem;
				margin-top: -.17rem;
				color: #ff6699;
			}

		/*订单内容*/
			.order_box_context{
				border-bottom: 1px solid #d9d9d9;
			}
			.order_box_context_box{
				padding: .28rem .3rem .32rem .3rem;
				height: 100%;
			}
			.order_box_context_item{
				height: 100%;
			}
			.order_box_context_item a{
				display: block;
			}
			
			/*图片部分*/
				.order_box_context_item_img{
					padding-right: .18rem;
				}
				.order_box_context_item img{ 
					width: 1.1rem;
				}

			/*文字部分*/
				.order_box_context_item_txt{
					position: relative;
				}
				.order_box_context_item_txt h4{
					width: 5.51rem;
					margin-bottom: .1rem;
					font-size: .28rem;
					letter-spacing: .02rem;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					color: #333;
				}
				.order_box_context_item_details{
					margin-bottom: .06rem;
					font-size: .24rem;
					color: #d0d0d0;
				}
				.order_box_context_item_details>span:nth-of-type(1){
					margin-right: .5rem;
				}
				.order_box_context_item_details>span:nth-of-type(2) span{
					margin-right: .32rem;
				}
				.order_box_context_item_details>span:nth-of-type(2) span:nth-of-type(1){
					margin: 0 .32rem;
				}

				.order_box_context_item_price{
					margin-bottom: 0;
					font-size: .24rem;
					color: #ff6699;
				}
				/*链接图标*/
					.order_box_context_item_link{
						position: absolute;
						top: 50%;
						right: 0;
						z-index: 999;
						margin-top: -.15rem;
						font-size: .26rem;
						color: #bfbfbf;
					}

				@media(max-width: 375px){
					.order_box_context_item_txt h4{
						margin-bottom: .05rem;
					}
					.order_box_context_item_details{
						margin-bottom: .03rem;
					}
				}
			
		/*底部工具*/
			.order_box_tools_box{
				height: 100%;
				box-sizing: border-box;
				padding: .24rem .3rem;
			}

/*第一条退款情况 --------------------------------------------------------*/
	.refund_main_settlement{
		text-align: right;
		font-size: .24rem;
	}
	.refund_main_settlement>span:nth-of-type(1){
		margin-right: .4rem;
	}
	.transaction_amount , .refund_amount{
		margin-left: .16rem;
	}
	.refund_amount{
		color: #ff6699;
	}